.App {
    color: #222;
}

.Menu {
    position: fixed;
    height: 100%;
    text-align: center;

}

.Content {
    margin-left: 225px;
    text-align: left;
    border-radius: 20px;
}

.RawData {
    padding: 20px;
}

.PrettyData {
    padding: 20px;
}

.Document {
    padding: 10px;
    float: left;
}
